* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-familier: ;
  --font-color: hsl(240, 9%, 89%);
  --font-nav-color: hsl(240, 6%, 58%);
}

body {
  font-size: 1.6rem;
  color: var(--font-color);

  height: 100vh;

  background-image: url(../assets/mountains-universe-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: var(--font-nav-color);
  margin: 0;
}

button {
  border: none;
  background: transparent;
}
