* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-familier: ;
  --font-color: hsl(240, 9%, 89%);

  --font-onblur-nav-color: hsl(240, 6%, 58%);
  --font-onfocus-nav-color: hsl(240, 9%, 89%);
}

body {
  font-size: 1.6rem;
  color: var(--font-color);

  height: 100vh;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: var(--font-nav-color);
  margin: 0;
}

button {
  border: none;
  background: transparent;
}

nav {
  display: flex;
  align-items: center;
  gap: 5.3rem;

  margin-inline: 7.2rem;

  color: var(--font-onblur-nav-color);
  font-family: Roboto;
  font-size: 21.667px;
  font-style: normal;
  font-weight: 400;
}

nav .focus {
  color: var(--font-onfocus-nav-color);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.1rem;
}
